@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2> Place your order here</h2>

    <form method="post" asp-controller="Order" asp-action="AddOrder">
        <p>
            <span>ProductId:</span>
            <input type="number" name="order_id" />
        </p> 
        <p>
            <span>TableNumber:</span>
            <input type="number" name="productType" />
        </p>

        <button type="submit">Add Order</button>
    </form>
}n