@using System.Threading.Tasks;
@using CafeManagementSystemProject.Models;
@using CafeManagementSystemProject.Services;
@using CafeManagementSystemProject.Repositories;
@inject OrderService IOrderService;
@inject Order orders;
@model List<Order>
<!DOCTYPE html>
<html>
<head>
    <title>Add Order</title>
</head>
    <body>
         <div>
            <h1>Place your order here :)</h1>
            <form method="post" asp-controller="OrderController" asp-action="AddOrder" asp-route="@Model.ToList()">
                <p>
                    <span>ProductId:</span>
                    <input type="number" name="order_id" />
                </p>
                <p>
                    <span>TableNumber:</span>
                    <input type="number" name="productType" />
                </p>

                <button type="submit">Add Order</button>
                <button>
                    < asp-controller="Order" asp-action="Index">Cancel</>
                </button>
            </form>
         </div>
    </body>
</html>
