@{
}

@model List<Order>
@foreach (var order in Model)
{
    <div>
        <p>Table Number: @order.TableId</p>
        <p>Order Id: @order.OrderId</p>
        <button>
            <a asp-controller="Order" asp-action="AddOrder" asp-route-id="@order.OrderId">Add Order</a>
        </button>
    </div>
}
